<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><a href="#">Bienvenue, <%= current_user.email %></a></li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i> Déconnexion
        <% end %>
      </li>
    <% else %>
      <li><%= link_to("Connexion", new_user_session_path) %></li>
    <% end %>
  </ul>
</div><!-- /.navbar-collapse -->